version: '3'
services:
  order-service:
    build:
      context: ./order-service/
      args:
        baseImageVersion: ${EVENTUATE_JAVA_BASE_IMAGE_VERSION}
    image: eventuateexamples/eventuate-tram-examples-customers-and-orders-order-service:${DOCKER_IMAGE_TAG:-latest}
    ports:
      - "8081:8080"
    depends_on:
      - mysql
      - kafka
      - zookeeper
      - cdc-service
    environment:
      CDC_SERVICE_URL: http://cdc-service:8080
      SPRING_SLEUTH_ENABLED: "true"
      SPRING_SLEUTH_SAMPLER_PROBABILITY: 1
      SPRING_ZIPKIN_BASE_URL: http://zipkin:9411/
      EVENTUATE_OUTBOX_ID: 1
      EVENTUATE_REACTIVE_DB_DRIVER: mysql
      EVENTUATE_REACTIVE_DB_HOST: mysql
      EVENTUATE_REACTIVE_DB_PORT: 3306
      EVENTUATE_REACTIVE_DB_USERNAME: mysqluser
      EVENTUATE_REACTIVE_DB_PASSWORD: mysqlpw
      EVENTUATE_REACTIVE_DB_DATABASE: eventuate
      EVENTUATELOCAL_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SPRING_R2DBC_URL: r2dbc:mysql://mysql:3306/eventuate
      SPRING_R2DBC_USERNAME: mysqluser
      SPRING_R2DBC_PASSWORD: mysqluser


  customer-service:
    build:
      context: ./customer-service/
      args:
        baseImageVersion: ${EVENTUATE_JAVA_BASE_IMAGE_VERSION}
    image: eventuateexamples/eventuate-tram-examples-customers-and-orders-customer-service:${DOCKER_IMAGE_TAG:-latest}
    ports:
      - "8082:8080"
    depends_on:
      - mysql
      - kafka
      - zookeeper
      - cdc-service
    environment:
      CDC_SERVICE_URL: http://cdc-service:8080
      SPRING_SLEUTH_ENABLED: "true"
      SPRING_SLEUTH_SAMPLER_PROBABILITY: 1
      SPRING_ZIPKIN_BASE_URL: http://zipkin:9411/
      EVENTUATE_OUTBOX_ID: 1
      EVENTUATE_REACTIVE_DB_DRIVER: mysql
      EVENTUATE_REACTIVE_DB_HOST: mysql
      EVENTUATE_REACTIVE_DB_PORT: 3306
      EVENTUATE_REACTIVE_DB_USERNAME: mysqluser
      EVENTUATE_REACTIVE_DB_PASSWORD: mysqlpw
      EVENTUATE_REACTIVE_DB_DATABASE: eventuate
      EVENTUATELOCAL_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      SPRING_R2DBC_URL: r2dbc:mysql://mysql:3306/eventuate
      SPRING_R2DBC_USERNAME: mysqluser
      SPRING_R2DBC_PASSWORD: mysqluser

  api-gateway-service:
    build:
      context: ./api-gateway-service/
      args:
        baseImageVersion: ${EVENTUATE_JAVA_BASE_IMAGE_VERSION}
    ports:
      - "8083:8080"
    environment:
      SPRING_SLEUTH_ENABLED: "true"
      SPRING_SLEUTH_SAMPLER_PROBABILITY: 1
      SPRING_ZIPKIN_BASE_URL: http://zipkin:9411/
      EVENTUATE_OUTBOX_ID: 1
      EVENTUATE_REACTIVE_DB_DRIVER: mysql
      EVENTUATE_REACTIVE_DB_HOST: mysql
      EVENTUATE_REACTIVE_DB_PORT: 3306
      EVENTUATE_REACTIVE_DB_USERNAME: mysqluser
      EVENTUATE_REACTIVE_DB_PASSWORD: mysqlpw
      EVENTUATE_REACTIVE_DB_DATABASE: eventuate
      EVENTUATELOCAL_KAFKA_BOOTSTRAP_SERVERS: kafka:29092

  zookeeper:
    image: eventuateio/eventuate-zookeeper:$EVENTUATE_COMMON_VERSION
    ports:
      - 2181:2181

  kafka:
    image: "confluentinc/cp-kafka:5.2.4"
    ports:
      - 9092:9092
      - 29092:29092
    depends_on:
      - zookeeper
    environment:
      KAFKA_LISTENERS: LC://kafka:29092,LX://kafka:9092
      KAFKA_ADVERTISED_LISTENERS: LC://kafka:29092,LX://${DOCKER_HOST_IP:-localhost}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LC:PLAINTEXT,LX:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: LC
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_HEAP_OPTS: -Xmx192m


  mysql:
    build:
      context: ./mysql/
      args:
        baseImageVersion: ${EVENTUATE_COMMON_VERSION}
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_USER=mysqluser
      - MYSQL_PASSWORD=mysqlpw
      - USE_DB_ID=true

  mongodb:
    image: mongo:3.6
    hostname: mongodb
    command: mongod --smallfiles
    ports:
      - "27017:27017"

  cdc-service:
    image: eventuateio/eventuate-cdc-service:$EVENTUATE_CDC_VERSION
    ports:
      - "8099:8080"
    depends_on:
      - mysql
      - kafka
      - zookeeper
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql/eventuate
      SPRING_DATASOURCE_USERNAME: mysqluser
      SPRING_DATASOURCE_PASSWORD: mysqlpw
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.jdbc.Driver
      EVENTUATELOCAL_KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      EVENTUATELOCAL_ZOOKEEPER_CONNECTION_STRING: zookeeper:2181
      EVENTUATELOCAL_CDC_DB_USER_NAME: root
      EVENTUATELOCAL_CDC_DB_PASSWORD: rootpassword
      EVENTUATELOCAL_CDC_READER_NAME: MySqlReader
      EVENTUATELOCAL_CDC_MYSQL_BINLOG_CLIENT_UNIQUE_ID: 1234567890
      EVENTUATELOCAL_CDC_READ_OLD_DEBEZIUM_DB_OFFSET_STORAGE_TOPIC: "false"
      EVENTUATE_CDC_KAFKA_ENABLE_BATCH_PROCESSING: ${EVENTUATE_CDC_KAFKA_ENABLE_BATCH_PROCESSING}
      EVENTUATE_OUTBOX_ID: 1
      JAVA_OPTS: -Xmx64m

  zipkin:
    image: openzipkin/zipkin:2.21
    ports:
      - "9411:9411"
    environment:
      JAVA_OPTS: -Xmx64m
